# POSTGRES DB
POSTGRES_HOST=ep-mute-pine-a15fadps.ap-southeast-1.aws.neon.tech
POSTGRES_PORT=5432
POSTGRES_USER=event_management_owner
POSTGRES_PASSWORD=
POSTGRES_DB=event_management
POSTGRES_SYNCHRONIZE=false
# POSTGRES_MIGRATIONS=dist/src/database/migrations/*.js

# PRODUCTION ENVIRONMENT POSTGRES DB
# POSTGRES_HOST=ep-lively-mouse-a1dax4pa.ap-southeast-1.aws.neon.tech
# POSTGRES_PORT=5432
# POSTGRES_USER=event_management_prd_owner
# POSTGRES_PASSWORD=
# POSTGRES_DB=event_management_prd

# BACKEND URL DEV
# BACKEND_URL=http://localhost:3000

# BACKEND URL PRODUCTION
BACKEND_URL=https://api.pssemrevents.com/

# AUTH
JWT_SECRET=

# AWS
AWS_REGION=ap-south-1
AWS_IAM_USER_ACCESS_KEY_ID=
AWS_IAM_USER_SECRET_ACCESS_KEY=
AWS_SES_API_VERSION=2010-12-01
FROM_EMAIL_ADDRESS=pssemrschool@gmail.com
S3_BUCKET_NAME=cluster2024

#NodeMailer
NODEMAILER_MAIL_USER=pssemrschool@gmail.com
NODEMAILER_PASSWORD=