# DEVELOPMENT ENVIRONMENT
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# PRODUCTION ENVIRONMENT
# POSTGRES_HOST=
# POSTGRES_PORT=5432
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB=

JWT_SECRET=